# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# TensorRT engine
*.engine

# 忽略 build目录
build/

# 忽略 weights目录
weights/

# 忽略 .vscode目录
.vscode/

#TODO
/TODO           

